[mat-fab] {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
  
  table {
    width: calc(100% - 140px);
    margin: 70px;
    margin-top: 0px; 
    padding: 30px;
    
    td,th{
      text-align: center;
    }
  }
  
  .teste{
    margin: 70px;;
  }